<div class="container">
  <form class="row border border-3 p-4 my-lg-5">
    <div class="col-6">
      <label for="bgColor" class="mb-2">Background Color: </label> <br />
      <input
        class="form-control"
        type="color"
        id="bgColor"
        (input)="onBgColorChange($event)"
      />
    </div>
    <div class="col-6">
      <label for="textColor" class="mb-2">Text Color: </label> <br />
      <input
        class="form-control"
        type="color"
        id="textColor"
        (input)="onTextColorChange($event)"
      />
    </div>
  </form>

  <div
    #styledDiv
    class="styled-div row d-flex align-items-center justify-content-center border border-3 "
    style="height: 300px"
  >
    This is the div.
  </div>
</div>
